* {
    margin: 0;
    padding: 0;


}

body {
    background-color: #ebebec;
    font-family: Roboto, Arial, sans-serif;
}

.header {
    background-color: #2874f0;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 56px;
    width: 100%;
    margin: 0;
    z-index: 99999;

}

.flex {
    display: flex;
    flex-direction: row;
}

.logoimg {
    margin: 10px;
    margin-left: 150px;
    width: 98px;
    height: 30px;
    padding: 0;
}

.logo {
    width: 20%;
    margin-left: 25px;
}

.search_bar {
    border: 0;

    display: flex;
    padding: 10px;
    margin: 0;


}

.search-box {

    border: none;
    outline: none;
    width: 442px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    float: left;
    display: flex;
    padding: 0px 30px;
}

.search-icon {
    width: 8%;
    outline: none;
    border: none;
    padding: 8px 0px 8px 0px;
    display: flex;
    background-color: #fff;
    border-radius: 0px 2px 2px 0px;
    color: #2874f0;
    box-shadow: 10px;
}

.menu_bar {
    margin-left: 70px;
    margin-top: 20px;
}

.none {
    display: none;
}

.profile_menu {
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}

.more_menu {
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
    font-size: 15px;
}

.profile {
    position: relative;
    left: 45px;

}

.profile_name {
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    margin-left: 30px;
    font-size: 15px;
}


.profile,
.more,
.cart {
    position: relative;
    left: 45px;
    margin-top: 20px;
}

.profile_lan,
.more_lan,
.cart_lan {
    color: white;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 16px;
}

.catogories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
    /* margin-top: 56px; */
    padding-top: 70px;
    background-color: #fff;

}

.catogories_image {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.catogories_image img {
    width: 63px;
    height: 63px;
}

.items_name {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.background_image {
    padding: 6px;
}

.background_image img {
    background-size: cover;
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.background_image1 {
    padding: 1px;
}

.background_image1 img {
    background-size: cover;
    width: 100%;
}

.top_offers_main {
    width: 100%;
    height: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.side_image {
    width: 20%;
    height: 364px;
    /* background-color: aqua; */
    background-image: url("images/sideimage1st.jpg");
}

.offers{
    margin-left: 47px;
margin-top: 136px;
font-size: 30px;
}

.view_btn{
    margin-left: 82px;
margin-top: 25px;
padding: 8px;
width: 90px;
background-color: #2874f0;
color: #fff;
font-weight: bold;
border: none;
 outline: none;
 border-radius: 2px;
}

.card {
    width: 18%;

    height: 345px;
    margin: 15px;

}

.card-img-top {
    width: 253px;
    height: 231px;
    object-fit: cover;
}
.card-img-top :hover{
    scale: all(1.0);
}



.card-body {
    justify-content: center;
    display: flex;
}

.card p {
    padding: 5px;

}

.text1 {
    font-weight: 200;
}

.text2 {
    color: #64986a;
    margin-left: 20px;
    margin-top: 10px;
}

.text3 {
    font-size: 12px;
    color: #a2a2a2;
}
.advertise_main{
    width: 100%;
    height: 230px;
    background-color: #fff;
    margin: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.ads_img{
    width: 32%;
    height: 230px;
   
    display: flex;
    margin-left: 10px;
    
    
}
.adimg{
    width: 404px;
height: 231px;
object-fit: cover;

}
.product_lists{
    width: 100%;
    height: 1570px;
    background-color: #fff;
    margin: 10px;
}
.gray_title{
color: #84848d;

}
.gray_title{
    margin-top: 10px;

}
.blacktext{
    margin-top: 10px;
}

.product_head{
    padding: 39px;
    font-size: 12px;
}
.products_name{
    margin-left: 41px;
margin-top: 5px;
}
.gray_name{
    font-size: 12px;
    color: #84848d;
}
.footer_main{
    width: 100%;
    height: 238px;
    background-color: #172337;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display:flex;
    flex-direction: row;
    color: #fff;

}
.about{
    padding: 31px;
font-size: 12px;
}
.enqry{
    list-style: none;
    margin-top: 7px;
}
.headings{
    font-size: 14px;
margin-bottom: 17px;
color: #6d6056;
}
.vertical_line{
    border-left: 1px solid;
    
    height: 138px;
    color: #6d6056;
    margin-left: 55px;
    margin-top: 44px;
}
.hrline{
   
    width: 100%;
    height: 0.5px;
    color: #6d6056;
}
.footer_line{
    
    width: 100%;
    background-color: #172337;
    height: 5px;
   
    display: flex;
    

}
.final_footer{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #172337;
}
.services{
    width: 60%;
    height: 70px;
    display: flex;
    flex-direction: row;
}
.credit_cards{
    width: 40%;
    height: 70px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    object-fit: cover;
}
.service{
    display: flex;
    flex-direction: row;
    font-size: 13px;
margin-top: 27px;
}
.srcs{
    padding-left: 47px;
    color: white;
}
.icon{
    color: #ffca00;
}
.crds{
    width: 100%;
}